{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<title>DRIP Leaderboard | Find the best DRIP Token Team and Join !</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css"></script>
	<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>
